button {
  margin: 10px;
  border-radius: 50px;
  border: none;
  width: 200px;
  font-family: "Bebas Neue", sans-serif;
}

button:hover {
  background-color: cadetblue;
  color: white;
  cursor: pointer;
}
